*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, ol, li{
    list-style: none;
}
body{

    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    padding-left: 96px;
    padding-right: 96px;
    background-color: peachpuff;
}
header{
    justify-content: center;
    text-align: center;
    
}
.titulo2{
    color: palevioletred;
}
.gallery{

    height: 100%;
    width: 100%;
    display: grid;
    gap: 12px;
    grid-template-areas: 
    "pic1 pic1 pic1 pic1 pic1 pic2 pic2 pic2 pic3 pic3 pic3"
    "pic1 pic1 pic1 pic1 pic1 pic4 pic4 pic4 pic5 pic5 pic5"
    "pic6 pic6 pic6 pic7 pic7 pic7 pic8 pic8 pic8 pic8 pic8";

}

.pic{
    position: relative;
    background-color: palevioletred;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 15px;
}
.pic:nth-child(1){
    grid-area: pic1;
    background-image: url(./img/ð’”ð’‘ð’Šð’“ð’Šð’•ð’†ð’…\ ð’‚ð’˜ð’‚ð’š.jpg);

}
.pic:nth-child(2){
    grid-area: pic2;
    background-image: url(./img/ponyo.jpg);

}
.pic:nth-child(3){
    grid-area: pic3;
    background-image: url(./img/totoro.jpg);

}
.pic:nth-child(4){
    grid-area: pic4;
    background-image: url(./img/yourname.jpg);

}
.pic:nth-child(5){
    grid-area: pic5;
    background-image: url(./img/wheathering\ with\ you.jpg);

}
.pic:nth-child(6){
    grid-area: pic6;

}
.pic:nth-child(7){
    grid-area: pic7;

}
.pic:nth-child(8){
    grid-area: pic8;

}
.foto:hover> .pic__info{
    transform: translateY(0%);
}
.pic__info{
    position: absolute;
    width: 100%;
    height: 64px;
    background-color: rgba(0, 0, 0, 0.192);
    color: white;
    bottom: 0;
    transform: translateY(100%);
    transition: .3s;
}
.buttom{
    background-color: palevioletred;
    display: flex;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 9vw;
    height: 3vw;
    margin-top: 1vw;
    transform: translate(450%);
}